*{
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
  }
  
  a:hover{
    opacity: 0.5;
  }
  
  img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 10%;
  }
  
  h1{
    font-size: 30px;
    font-family: Arial;
    padding-bottom: 20px;
  }
  
  .container{
    padding-top: 1%;
    padding-left: 1%;
  }

  footer{
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .foot-ajust{
    padding-left: 1%;
  }

  nav{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    background: #464658;
    height: 6vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  
  }
  
  .nav-list li{
    letter-spacing: 2px;
    margin-left: 32px;
  }
  
  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    align-items: center;
  }
  
  table{
    width: 50%;
    text-align: center;
  }
  
  footer{
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
.link-td{
    background-color: #484849;
    color: #fff;
    padding: 3px;
    display: block;
    cursor: pointer;
  }

.link-td:hover{
  background-color: rgb(192, 199, 194);
}

.alinha-text{
  padding-bottom: 1%;
}