{% extends "layout.html" %}
{% block content %}

<div class="XX">
    <h1>Adicione um Novo Paciente</h1>
    
  <form action="/add_data" method="POST">
      <p>Dados Pessoais</p>
      
      <label for="name-paciente">
        <span>Nome</span>
        <input type="text" name="name-paciente" required="required">
      </label>
      <label for="age-paciente">
        <span>Data de Nascimento</span>
        <input id="date" type="date" name="age-paciente" required="required">
      </label>
      <label for="gen-paciente">
        <span>Gênero</span>
        <select name="gen-paciente">
          <option>--</option>
          <option>Masculino</option>
          <option>Feminino</option>
          <option>Trangênero</option>
        </select>
      </label>
      <label for="cpf-paciente">
        <span>CPF</span>
        <input type="number" name="cpf-paciente" maxlength="11" required="required">
      </label>

      <p>Dados do Paciente</p>
      
      <label for="p-paciente">
        <span>Peso</span>
        <input type="number" name="p-paciente" min="0" max="10" step="1" value="0" />
      </label>
      <label for="a-paciente">
        <span>Altura</span>
        <input type="number" name="a-paciente" onchange="setTwoNumberDecimal" min="0" max="10" step="0.01" value="0.00" />
      </label>
        <input type="submit" class="btn-success" value="Adicionar-Paciente">
    </form>
</div>

{% endblock content %}

